@media (min-width: 900px) {
    .footer_nav {
        display: flex;
        flex-direction: row;
    }

    .footer_nav_left {
        width: 65vw;
    }

    .footer_nav_right {
        width: 35vw;
    }
}