@media (min-width: 520px) {    
    body {
        height: 100vh;
    }

    main {
        height: auto;
    }
    
    .main-logo {
        width: auto;
    }
    
    .main-logo img {
        width: 26rem;
    }

    .main-input {
        width: 50rem;
    }

    .main-input__container {
        width: 45rem;
        border-radius: 10rem;
    }
    
    .main-input__container input {
        width: 38rem;
        height: 5rem;
    }

    .main-buttons {
        width: 45rem;
    }

    .main-buttons button {
        width: 20rem;        
    }

    footer {
        margin-top: auto;        
    }
    
    .footer_nav {
        display: flex;
        flex-direction: column;
    }

    .footer_nav_div_left {
        width: 100vw;
    }

    .footer_nav_div_right {
        order: 2;
        width: 100vw;
    }

    .footer_nav_left {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer_nav_right {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer__pais {
        display: flex;
        border-bottom: solid 0.1px rgba(0, 0, 0,.54);
        padding-top: 2rem;
        padding-bottom: .5rem;
    }
}